<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.8.18.custom.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-1.7.1.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-ui-1.8.18.custom.min.js" ></script>
  <script language="javascript" type="text/javascript" src="/javascripts/jquery-tablesorter.min.js" ></script>
</head>
<body>
  <table id="players" class="tablesorter">
    <thead>
      <th>Player</th>
      <th>RPI</th>
      <th>Team</th>
      <th>Points</th>
      <th>ExPts</th>
      <th>Games</th>
      <th>ExGames</th>
      <th></th>
    </thead>
    <tbody>
      <% @ppg.each_with_index do |result, idx| %>
        <tr id="<%= result[:id] %>" class="<%= " drafted" if result[:drafted] %>">
          <td><%= "#{idx + 1}. #{result[:player]}" %></td>
          <td><%= result[:team_rpi] %></td>
          <td><%= "(#{result[:seed]}) #{result[:team]}" %></td>
          <td><%= sprintf("%0.3f", result[:points]) %></td>
          <td><%= sprintf("%0.3f", (@wins_per_seed[result[:seed]] + 1) * result[:points]) %></td>
          <td><%= result[:games] %></td>
          <td><%= sprintf("%0.3f", @wins_per_seed[result[:seed]] + 1) %></td>
          <td>
            <% unless result[:drafted] %>
              <form class= "draft" action="draft" method="post">
                <input type="hidden" name="player_id" value=<%= result[:id] %> />
                <input type="submit" value="draft" />
              </form>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='query'>
    <form action="/" method="get">
    Opponent RPI: <input type="text" name="opponent_rpi" <% unless params[:opponent_rpi].empty? %>value="<%= params[:opponent_rpi] %>"<% end %>/><br />
    Team RPI: <input type="text" name="team_rpi" <% unless params[:team_rpi].empty? %>value="<%= params[:team_rpi] %>"<% end %>/><br />
    Min Games: <input type="text" name="min_games" <% unless params[:min_games].empty? %>value="<%= params[:min_games] %>"<% end %>/><br />
    Seed: <input type="text" name="seed" <% unless params[:seed].empty? %>value="<%= params[:seed] %>"<% end %>/><br />
    Team Name: <input type="text" id="team_names" name="team_name" <% unless params[:team_name].empty? %>value="<%= params[:team_name] %>"<% end %>/><br />
    Hide Drafted? <input type="checkbox" name="hide_drafted" <% unless params[:hide_drafted].empty? %>checked="true"<% end %>/><br />
      <input type="hidden" id="team_id" name="team_id" />
      <input type="submit" value="Search" />
    </form>
  </div>
</body>
<script language="javascript" type="text/javascript">
  $(document).ready(function() { 
    $("#players").tablesorter({headers: { 7: { sorter: false }}});
  });
  $(function() {
    $.ajax({
      url: "/teams",
      dataType: "json",
      success: function(response){
        var data = $.map(response, function(item) {
          return {
            value: item.name,
            id: item.id
          }; 
        });
        $('#team_names').autocomplete({
          source: data,
          minLength: 1,
          select: function(event, ui) {
            $('#team_id').attr('value', ui.item.id);
          }  
        });
      }  
    });
  });
</script>
</html> 
